body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: KaffeesatzBold;
    background-color: #fefefe;
}

.title {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
}

#maintitle {
    margin-bottom: 1%;
    font-size: 300%;
}

#subtitle {
    position: relative;
    top: -15px;
    color: #bbb;
}

#box {
    transition-duration: 200ms;
    padding: 0;
    flex-shrink: 0;
    /*
    margin: 0;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    background-color: #ddd;
    */
    background-color: #ddd;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 5px;
    gap: 0px 0px;
    margin:0px;
}

.innerbox {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    background-color: var(--innerblock_color);
    border-radius: 15%;
    transition-duration: 200ms;
    width: var(--innerblock_size);
    height: var(--innerblock_size);
    margin: var(--innerblock_margin);
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    font-size: 30px;
    opacity: 0.5;
}

.innerboxflag {
    margin: 0;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.innerbox:hover {
    transform: scale(1.2);
    cursor: pointer;
}

#boxmanagement { 
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    transition-duration: 200ms;
    margin: 0;
    border-radius: 2%;
    background-color: #f0f0f0;
    height: auto;
}

#moreless {
    cursor: pointer;
    position: relative;
    left: -20px;
    top: 5px;
    height: 20px;
}

#moreless_img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin:0px;
    width: 15px;
}

#mine {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#flag {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: #ddd;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

#messagebox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2%;
    width: 40%;
    border-radius: 4%;
    background-color: #ddd;
}

#message {
    margin: 3% 0px 3% 0px;
    width: 99%;
    text-align: center;
    display: inline-block;

}

#messagebutton {
    margin: 0.5% 0px 3% 0px;
    text-align: center;
    display: inline-block;
}

#managementtitle{

    text-align: center;
}

.gameinput{
    margin-left: 10%;
    width: 30%;
    border-radius: 10%;
    border: 0px;
    font-weight: bold;
    font-size: large; 
    font-family: KaffeesatzBold;
    vertical-align: middle;

}

.inputdescriptor{
    width: 2.5em; 
    margin: 3% 3% 3% 5%;
    display: inline-block;
    font-weight: 100;
}

.button{
    display: inline-block;
    text-align: center;
    margin: 3% 0px 3% 50%;
    transform: translateX(-50%);
    padding: 2% 5%;
    cursor: pointer;
    width: auto;
    background-color: #111;
    color: white;
    border-radius: 10%;
}

#rows{
}
#mines{}

#separator{
    width: 100%;
    height: 1px;
}