body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: KaffeesatzBold;
    background-color: #fefefe;
}

.title {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
}

#maintitle {
    margin-top: 15px;
    font-size: 400%;
}

#subtitle {
    position: relative;
    top: -15px;
    color: #bbb;
}

#box {
    padding: 0;
    flex-shrink: 0;
    /*
    margin: 0;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    background-color: #ddd;
    */
    background-color: #ddd;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 5px;
    gap: 0px 0px;
}

.innerbox {
    position: relative;
    background-color: var(--innerblock_color);
    border-radius: 15%;
    transition-duration: 200ms;
    width: var(--innerblock_size);
    height: var(--innerblock_size);
    margin: var(--innerblock_margin);
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    font-size: 30px;
    opacity: 0.5;
}

.innerboxflag {
    margin: 0;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.innerbox:hover {
    transform: scale(1.2);
    cursor: pointer;
}

#boxmanagement {
    border-radius: 2%;
    background-color: #f0f0f0;
}

#mine {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#flag {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: #ddd;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

#messagebox {
    position: relative;
    width: 100%;
}

#message {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}